<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page Lemoncode</title>
  <link href="./src/css/main.css" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header__top">
      <input type="search" placeholder="Buscar">
      <p>Víctor Borrego Pérez</p>
    </div>
  </header>

  <section class="hero">
    <h1>Welcome Lemoncoders!</h1>
  </section>

  <main>
    <aside>
      <nav class="hero__nav" aria-label="Frameworks">
        <h2>FRAMEWORKS</h2>
        <ul>
          <li><a href="#">React</a></li>
          <li><a href="#">Svelte</a></li>
          <li><a href="#">Vue</a></li>
          <li><a href="#">Angular</a></li>
        </ul>
      </nav>
    </aside>

    <section class="team__list" aria-label="Team members">
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/14540103?s=96&v=4" alt="Antonio Contreras">
        <div class="member__name">Antonio Contreras</div>
      </div>
      <div class="team__member">
        <img src="	https://avatars.githubusercontent.com/u/1457912?s=96&v=4" alt="Braulio Diez">
        <div class="member__name">Braulio Diez</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/13205689?s=96&v=4" alt="Santiago Camargo">
        <div class="member__name">Santiago Camargo</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/43171355?s=96&v=4" alt="Francisco Javier de Jesús Mazzoni">
        <div class="member__name">Francisco Javier de Jesús Mazzoni</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/24454225?s=96&v=4" alt="Javier Calzado">
        <div class="member__name">Javier Calzado</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/7754966?s=96&v=4" alt="Jaime Salas">
        <div class="member__name">Jaime Salas</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/26490961?s=96&v=4" alt="Jose Manuel" width="96">
        <div class="member__name">Jose Manuel</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/58438522?s=96&v=4" alt="Juan Pablo Martínez">
        <div class="member__name">Juan Pablo Martínez</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/4374977?s=96&v=4" alt="Daniel Sánchez">
        <div class="member__name">Daniel Sánchez</div>
      </div>
      <div class="team__member">
        <img src="https://avatars.githubusercontent.com/u/43609530?s=96&v=4" alt="Víctor Borrego">
        <div class="member__name">Víctor Borrego</div>
      </div>
    </section>

    
  </main>
  <footer class="footer">
      <p class="footer__text">Máster Lemoncode</p>
    </footer>
</body>
</html>