@use "base" as b;
@use "sass:color";


* {
  margin: 0%;
  padding: 0%;
  font-size: small;
 
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@function tone-text-color($background-color, $base-text-color) {
  @if color.channel($background-color, "lightness", $space: hsl) > 50% {
    @return color.scale($base-text-color, $lightness: -90%); 
  } @else {
    @return $base-text-color; 
  }
}

@mixin tone-variants($base-color, $base-text-color) {
  @for $i from 1 through 4 {
    $light-bg: color.scale($base-color, $lightness: 18% * $i);
    $dark-bg: color.scale($base-color, $lightness: -18% * $i);

    .lighten-#{$i} {
      background-color: $light-bg;
      border-color: $light-bg;
      color: tone-text-color($light-bg, $base-text-color);
    }

    .darken-#{$i} {
      background-color: $dark-bg;
      border-color: $dark-bg;
      color: tone-text-color($dark-bg, $base-text-color);
    }
  }
}

@mixin color-container($base-color, $base-text-color) {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
 
  

  .box {
    width: 60px;
    height: 50px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
    line-height: 50px;
  }
  
  .base-color {
    background-color: $base-color;
    border: 2px solid $base-color;
    color: tone-text-color($base-color, $base-text-color);

  }

  

  @include tone-variants($base-color, $base-text-color);
}

.container-1 {
  @include color-container(b.$base-pink-color, b.$base-text-color);
}

.container-2 {
  @include color-container(b.$base-green-color, b.$base-text-color);
}

.container-3 {
  @include color-container(b.$base-blue-color, b.$base-text-color);
}

.container-4 {
  @include color-container(b.$base-red-color, b.$base-text-color);
}





