<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alternative themes</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="stack">
        <div class="box base">Base</div>
        <div class="box important">Important</div>
        <div class="box warning">Warning</div>

        <div class="fonts">
            <p class="principal">Principal font</p>
            <p class="secondary">Secondary font</p>
        </div>
        <div class="box shadow">
            Box with shadow
        </div>
    </div>

    
</body>
</html>