<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card element with CSSGrid</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <card>
        <img src="./snorkeling-person.jpg" alt="Person snorkeling underwater">
        <h2>Title</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate,
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate, Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.
        </p>

        <p>
            <strong>Published:</strong> March 20, 2020
        </p>

        <button>More info</button>

    </card>
    
</body>
</html>