
aside {
    background-color: var(--navbar-color);
}

.hero__nav {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: auto 1fr;
    color: var(--header-title-color);
}

.hero__nav > h2 {
   margin: 0;
   padding: 12px 14px;
   font-size: 1.2rem;
}

.hero__nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--off-white-color);
    align-self: start;
    width: 100%;
    
}

.hero__nav > ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.hero__nav > ul > li > a {
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    color: #1b1b1b;
}

@media (--medium-viewport){
    
    .hero__nav {
       min-height:100%;
        
    }

    .hero__nav > ul {
        width: 94%;
        margin: 0;
        padding: 0;
        align-self: start;
        
    }

    
}


@media (--medium-viewport){
 .hero__nav {
    position: fixed;
    top: 8.125rem;
    left:0;
    width: inherit;
     transition: top 0.2s ease;
 }

 .hero__nav.hero__nav--at-top {
     top: 0;
 }
}

@media (--small-viewport){

    main {
        padding-top: 60px;
    }
    
    .hero__nav {
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        min-height: auto;
        background-color: var(--navbar-color);
        z-index: 5;
        
    }
    .hero__nav > h2 {
        display: none;
    }

    .hero__nav > ul {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; 
        gap: 0.4rem;
        background-color: var(--navbar-color);
        width: 100%;
    }
    .hero__nav > ul > li {
        border: 1px solid black;
        margin: 0.3rem 0.2rem;
        width: 21%;
        background-color: var(--off-white-color);

    }

    .hero__nav > ul > li > a {
        text-align: center;
    }
}