.hero {
    background-color: var(--section-color);
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.hero > h1 {
    margin: 0;
    color: var(--header-title-color);

}

aside {
    background-color: var(--navbar-color);
}

.hero__nav {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: auto 1fr;
    color: var(--header-title-color);
}

.hero__nav > h2 {
   margin: 0;
   padding: 12px 14px;
   font-size: 1.2rem;
}

.hero__nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--off-white-color);
    align-self: start;
    
}

.hero__nav > ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.hero__nav > ul > li > a {
    display: block;
    padding: 12px 14px;
    text-decoration: none;
    color: #1b1b1b;
}