
header {
    width: 100%;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
}

.header__top > input{
    width: 200px;
    height: 30px;
}



@media (--small-viewport){
    .header__top {
        display: none;
    }
}
