.hero {
    background-color: var(--section-color);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: sticky;
}

.hero > h1 {
    margin: 0.3rem;
    color: var(--header-title-color);

}