footer {
    padding: 1rem 0;
}

footer > p {
    color: var(--color-text);
    font-size: 0.875rem;
    text-align: center;
    margin: 0;
}

@media (--lg-viewport) {
    footer {
        padding: 1.25rem 0;
    }

    footer > p {
        font-size: 1rem;
    }
}

@media (--md-viewport) {
    footer {
        padding: 1rem 0;
    }

    footer > p {
        font-size: 0.75rem;
    }
}

