* {
    margin: 10px;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: var(--content-position, center);
    align-items: center;
}

.stack {
    width: 130px;
    box-sizing: border-box;
}

.box {
    height: 90px;
    margin: 2px;
    border: 1px solid #999;
    border-radius: var(--border-radius, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.base {
    background-color: var(--base-color);
}

.important {
    background-color: var(--important-color);
}

.warning {
    background-color: var(--warning-color);
}
.fonts {
    margin: 2px;
}

.fonts p {
    margin: 15px 0;
    text-align: left;
}

.fonts .principal {
    font-family: var(--principal-font);
}

.fonts .secondary {
    font-family: var(--secondary-font);
}

.shadow {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    border-radius: var(--border-radius, 0);
    box-shadow: var(--shadow-x, 0px) 9px 8px 0px rgba(0, 0, 0, 0.86);
}
